<%- include("partials/header") -%>

<div class="title-bar">
  <div class="title-container">
    <h2 class="heading"><strong>Our Stories</strong></h2>
  </div>
  <div class="search-container">
    <form action="/search" method="GET">
      <input type="text" name="q" placeholder="Search posts by title">
      <button type="submit">Search</button>
    </form>
  </div>
</div>


<div class="posts">
  <% posts.reverse().forEach((post)=> { %>
  <div class="col-lg-4 col-md-6 col-sm-12 post">
    <div class="post-image-wrapper">
      <% if (post.image && post.image.length> 0) { %>
      <img class="post-image" src="data:image/jpeg;base64, <%= post.image.toString('base64') %>" alt="Blog Post Image">
      <% } %>
    </div>
    <div class="post-content">
      <h3 class="post-title">
        <%= post.title %>
      </h3>
      <% if (post.user && post.createdAt) { %>
      <div class="info">
        <p class="posted-by"><strong>Posted by <a href="/profile/<%= post.user._id %>">
              <%= post.user.username %>
            </a></strong></p>
        <p class="date">
          <%= post.createdAt.toLocaleDateString('en-US', { month: 'long' , day: 'numeric' ,
                                    year: 'numeric' }) %>
        </p>
      </div>
      <% } %>
      <p>
        <%= post.content.substring(0, 87) + "..." %>
      </p>
      <a class="read-more" href="/posts/<%= encodeURIComponent(post.title.replace(/\s/g, '-')) %>"><strong>READ MORE</strong></a>

    </div>
  </div>
  <% }) %>
</div>

<%- include("partials/footer") -%>